<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img id="my-img">
  <script>
    const datei = '<%= data %>'.split(',').map(Number);
    const content = new Uint8Array(datei)

    document.getElementById('my-img').src = URL.createObjectURL(
      new Blob([content.buffer], { type: 'image/png' } /* (1) */)
    );
  </script>
</body>
</html>